.zdjecia_konikow1 {
    display: flex;
    justify-content: space-between;
  }
  
  .zdjecia_konikow1 img {
    width: 80%;
    border: 10px solid transparent;
    padding: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  @media screen and (max-width: 1024px) {
    .zdjecia_konikow1 {
      display: none;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px) {
    .zdjecia_konikow1 {
      display: flex;
      flex-direction: column;
    }
    #konik3 {
      display: block;
    }
  }