.HeaderContainer{
    background-color: rgb(255, 215, 254);
    color: rgb(33, 29, 37);
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
a {
    display: flex;
  }

.headerLogo{
    width: 65px;
    height: 65px;
}
.headerContainer h2{
    flex-grow: 1;
}

#logoLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
/*@media (prefers-reduced-motion: no-preference) {
    .headerLogo {
        animation: App-logo-spin infinite 20s linear;
    }
}*/



